:root {
    --dark-blue: #073b4c;
    --blue: #118ab2;
    --green: #06d6a0;
    --pink: #ef476f;
    --orange: #fca311;
    --dark-green: #2d6a4f;
    --white: #fff;
    --gradient: linear-gradient(105.76deg, #06d6a0 4.11%, #073b4c 98.76%);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: var(--dark-blue);
}

ul {
    list-style-type: none;
}

.navbar-brand,
.nav-link {
    font-weight: 500;
    line-height: 24px;
}

.navbar-brand {
    font-size: 20px;
}

.nav-link {
    font-size: 16px;
    color: var(--green) !important;
}

.anchor-link {
    color: var(--dark-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    transition: all ease-in 0.2s;
}

.anchor-link:hover {
    color: var(--green);
}
